@model Login.Models.TB_Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TB_Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img_Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img_Product)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProduct }) |
    @Html.ActionLink("Back to List", "Index")
</p>
